<a href='/'>Home</a>
<h3>archived journal</h3>

<table>
  <% for (var i=0; i < journals.length; i++) { %>
     <tr>
       <td><%= journals[i].II %></td>
       <td><%= journals[i].createdAt %></td>
     </tr>
  <% } %>
</table>