<form method='POST' class='form'>
  <h4>Life Goals</h4>
  <div class='goals'></div>
  <input type='submit' value='Save'>
</form>

<form method='POST' class='form'>
  <table>
    <thead>
      <tr>
        <th colspan='2'>Gratitude Journal</th>
      </tr>
    </thead>
    <tbody class='journal'>
    </tbody>
  </table>
  <input type='submit' value='Pencil Down for Today'>
</form>