<form method='POST' class='form'>
  <h4 class='goal-header'>Life Goals</h4>
  <div class='goals'></div>
  <input type='submit' value='Save' class='goal-button'>
</form>

<form method='POST' class='form'>
  <a href='/archive'>Archived Journal</a>
  <table>
    <thead>
      <tr>
        <th colspan='2' class='journal-header'>Gratitude Journal</th>
      </tr>
    </thead>
    <tbody class='journal'>
    </tbody>
  </table>
  <input type='submit' value='Pencil Down for Today' class='journal-button'>
</form>