<!DOCTYPE html>
<html>
  <head>
    <title>Solunar</title>
    <link rel='stylesheet' href='/style.css'>
  </head>

  <body>
    <h3 class='page-header'>Awakening to Your Life's Purpose</h3>
    <div class='quote-author'>
      <p class='quote'></p>
      <p class='author'></p>
    </div>
    <%- body %>

    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src='/htmlHelper.js'></script>
    <script src='/init.js'></script>
  </body>
</html>