body {
  margin: 0 40px 0 40px;
  background-color: #eff9bd;
}

.page-header {
  font-family: cursive;
  font-size: 25px;
  color: #45b78c;
}

/* quote and author */

.quote-author {
  height: 70px;
  font-family: arial;
  color: #71757a;
}

.author {
  font-style: italic;
}

/* goal and journal */

.goal-header, .journal-header, .journal-entry-number {
  font-family: 'Apple Chancery', cursive;
}

.goal-header, .journal-header {
  font-size: 21px;
}

.goal-entry, .journal-entry {
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.goal-button, .journal-button {
  font-size: 13px;
  color: white;
  border: none;
  border-radius: 5px;
  height: 25px;
  float: right;
}

/* goal only */

.goal-header, .goal-entry {
  color: #6aaae2;
}

.goal-header {
  margin-bottom: 8px;
}

.goal-entry {
  width: 430px;
  height: 60px;
  margin-right: 8px;
  margin-bottom: 1px;
  padding-left: 7px;
}

.goal-button {
  width: 60px;
  background-color: #6aaae2;
  margin: 4px 15px 0 0;
}

/* journal only */

.journal-header, .journal-entry-number, .journal-entry {
  color: #c775dd;
}

.journal-entry-number {
  font-size: 17px;
  font-weight: bold;
}

.journal-entry {
  width: 1275px;
  height: 25px;
  padding-left: 8px;
}

.journal-button {
  width: 160px;
  background-color: #c775dd;
  margin: 8px 15px 40px 0;
}